{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Dashboard</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Pages</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Starter Page</a>
      </li>
    </ul>
  </div>
  <div class="page-category">Fire App System is designed to enhance fire station efficiency and responsiveness. It features real-time location tracking of fire stations and trucks, incident reporting and management, optimized resource allocation, and a robust communication system. The tracker also includes data analytics for identifying improvement areas, maintenance scheduling for equipment upkeep, and training management for personnel. Integration with other emergency services facilitates a coordinated response, while the incident reporting feature engages the community in safety efforts. This comprehensive tool significantly reduces response times, improves operational efficiency, and supports data-driven decision-making, ultimately enhancing public safety and emergency preparedness..</div>
</div>
{% endblock %}
